@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.headerone {
    background-image: url(./assets/Hero-Service-Background.jpg);
    height: 300px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    color: #fff; /* Text color for visibility */
}

.service_Head {
    display: flex;
    flex-direction: column;
    
    
    height: 100%; /* Full height of the container */
}

.service_Head span {
    font-size: 30px;
    margin-bottom: 10px; /* Space between span and h2 */
}

.service_Head h2 {
    font-size: 15px;
}

/* Media Queries */

/* Tablets and Small Screens */
@media (max-width: 768px) {
    .headerone {
        height: 250px;
        padding-top: 80px;
    }

    .service_Head span {
        font-size: 25px;
    }

    .service_Head h2 {
        font-size: 14px;
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    .headerone {
        height: 200px;
        padding-top: 50px;
    }

    .service_Head span {
        font-size: 20px;
        
    }

    .service_Head h2 {
        font-size: 12px;
    }
}
